@use './variables' as *;
@use './grid' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// 🌍 Modo oscuro por defecto
:root {
  font-family: $VisueltRegular;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-dark;
  background-color: $bg-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // @media (prefers-color-scheme: light) {
  //   color: $text-dark;
  //   background-color: $bg-light;
  //   a:hover {
  //     color: #747bff;
  //   }
  //   button {
  //     background-color: #f9f9f9;
  //   }
  // }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-family: $VisueltBold;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $bg-light;
  transition: color 0.25s;

  &:hover {
    color: $primary-green;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $VisueltBold;
  line-height: 1.1;
}

.img-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.ui-btn {
  border-radius: 0;
  border: 1px solid transparent;
  padding: 1rem;
  font-family: $VisueltBold;
  font-size: 1.2rem;
  background-color: $primary-green;
  color: $bg-dark;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $primary-blue;
    color: $bg-light;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.dark-btn {
    background-color: $bg-dark;
    color: $primary-green;

    &:hover {
      background-color: $primary-green;
      color: $bg-dark;
    }

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }

  &--sm {
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    margin-right: 0.5rem;
  }

  &--md {
    width: 25%;
    font-size: 1rem;
    margin-right: 0.75rem;
  }

  &--lg {
    width: 50%;
    font-size: 1.125rem;
    margin-right: 1rem;
  }

  &:last-child {
    margin-right: 0; // El último botón no tiene margen extra
  }
}

.button-group {
  display: flex;
  gap: 0.75rem;
}

#app {
  width: 100%;
  margin: 0 auto;
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  color: $text-dark;
  background-color: $primary-green;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.5px;
}

.badge--vue {
  background-color: #42b883;
}

.badge--react {
  background-color: #61dafb;
  color: #000;
}

.badge--angular {
  background-color: #dd0031;
}

.badge--django {
  background-color: #092e20;
}

.badge--node {
  background-color: #68a063;
}

.badge--next {
  background-color: #000;
}

.badge--tailwind {
  background-color: #38bdf8;
  color: #000;
}