@use './variables' as *;
@use './grid' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// 🌍 Modo oscuro por defecto
:root {
  font-family: $VisueltRegular;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-dark;
  background-color: $bg-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // @media (prefers-color-scheme: light) {
  //   color: $text-dark;
  //   background-color: $bg-light;
  //   a:hover {
  //     color: #747bff;
  //   }
  //   button {
  //     background-color: #f9f9f9;
  //   }
  // }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-family: $VisueltBold;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $bg-light;
  transition: color 0.25s;

  &:hover {
    color: $primary-green;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $VisueltBold;
  line-height: 1.1;
}

.ui-btn {
  border-radius: 0;
  border: 1px solid transparent;
  padding: 1rem;
  font-family: $VisueltBold;
  font-size: 1.2rem;
  background-color: $primary-green;
  color: $bg-dark;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $primary-blue;
    color: $bg-light;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.dark-btn {
    background-color: $bg-dark;
    color: $primary-green;

    &:hover {
      background-color: $primary-green;
      color: $bg-dark;
    }

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}

#app {
  width: 100%;
  margin: 0 auto;
}