@use '@/styles/variables' as *;

.project-hero__container {
  margin-top: 260px;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    margin-top: 150px;
  }

  .project-hero__cta {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .ui-btn {
      flex: 1;
      text-align: center;

      &.ui-btn--md {
        font-size: 0.7rem;
      }
    }
  }

  .hero-img {
    img {
      @media (min-width: 992px) {
        width: 85%;
      }
    }
  }
}

.project-skills__container {
  margin: 7rem auto;

  .skill__container {
    background-color: $primary-blue;
    color: $text-light;
    padding: 2rem;
    height: 100%;

    p {
      font-family: $VisuelLight;
    }
  }
}