@use '@/styles/variables' as *;

.project-hero__container {
  margin-top: 260px;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

  .project-hero__cta {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .ui-btn {
      flex: 1;
      text-align: center;
    }
  }
}